.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;/*Charcoal Grey*/
}

.container {
  text-align: center;
  background-color: #666666;/*Light Grey*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 150px;
  transition: height 0.3s ease-in-out;
}

.expanded {
  height: 275px;
}

.btn-8 {
  background-color: #f25073;
  color: #fff;
}

.btn-10 {
  background-color: #ebc66a;
  color: #fff;
}

.btn-12 {
  background-color: #62bd6e;
  color: #fff;
}

.btn-16 {
  background-color: #1e943f;
  color: #fff;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  /*background-color: #007bff;*/
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.password {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.copy-icon {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.copy-icon:hover {
  background-color: transparent;
}

.copy-icon svg {
  margin-right: 5px;
}

.copy-notification {
  font-size: 12px;
  color: #28a745; /* Green color for success */
  margin-top: 5px;
}

.test-link {
  position: fixed;
  bottom: 0;
  width: 100%;
  /*background-color: #f0f0f0;*/
  padding: 10px 0;
  text-align: center;
}

.test-link a {
  color: #666666;
  text-decoration: none;
}

.test-link a:hover {
  text-decoration: underline;
}



/*{password && <div className="password">Generated Password: <h3>{password}</h3></div>}*/